/* style.css */

.header {
    color:greenyellow;
    background-color: lightcoral;
    font-family: fantasy, sans-serif;
    font-size: 48px;
}

li {
    color: saddlebrown;
}

button {
    background-color: blueviolet;
    font-size: 24px;
}

a {
    color: seashell;
    font-size: 18px;
    font-family: monospace;

}